@import url(http://fonts.googleapis.com/css?family=Actor);

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Actor', sans-serif;
}
header {
  position: fixed;
  width: 100%;
  background: #424244;
  z-index: 99;
}
.main-navigation {
  span {
    margin-top: -5px;
    float: left;
    font-weight: bold;
    font-size: 1.5em;
    color: #fff;
  }
  ul {
    list-style-type: none;
    text-align: right;
    padding: 0;
    margin: 0.8em 1em;
    li {
      display: inline-block;
      a {
        padding: 0.25em 0.5em;
        background: #B1A530;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        border-radius: 3px;
        &:hover {
          background: darken(#B1A530, 5%);
        }
      }
    }
  }
}
section {
  min-height: 100%;
  position: relative;
  padding: 3em 1em 1em;
  color: #fff;
  &.one {
    background: #583B47;
    h1 {
      font-size: 45px;
      text-align: center;
      margin: 0;
    }
  }
  &.two {
    background: #38D1F1;
  }
  &.three {
    background: #316671;
  }
  &.four {
    background: #A43562;
  }
}

#about-content {
  text-align: center;
  max-width: 800px;
  margin: auto;
  img {
    width: 75%;
    border-radius: 15px;
  }
  p {
    text-align: left;
  }
}

@media (max-width: 650px) {
  #about-content img {
    width: 100%;
    border-radius: 0;
    padding: 0;
    margin: 0;
  }
  section {
    &.one {
      h1 {
        display: none;
      }
    }
    margin: 0;
    padding: 40px 0px;
  }
  .main-navigation {
    position: relative;
    min-height: 40px;
    span {
      margin-top: 5px;
    }
    ul {
      margin: 4px;
      width: 30px;
      padding: 5px 1px 6px;
      position: absolute;
      left: auto;
      right: 0;
      border: solid 1px #aaa;
      background: #fff url(http://webdesignerwall.com/demo/responsive-menu/images/icon-menu.png) no-repeat 10px 10px;
      border-radius: 5px;
    }
    li {
      display: none; /* hide all <li> items */
      margin: 0;
    }
    a {
      display: none;
    }
    ul:hover {
      background-image: none;
      width: 180px;
      a {
        display: block;
      }
      li {
        display: block;
        margin: 0 0 5px;
      }
    }
  }
}