@import url(http://fonts.googleapis.com/css?family=Actor);

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Actor', sans-serif;
}
header {
  position: fixed;
  width: 100%;
  background: #424244;
  z-index: 99;
}
.main-navigation {
  #name {
    float: left;
    font-weight: bold;
    font-size: 1.5em;
    color: #fff;
    margin: .4em .2em
  }
  #links {
    float: right;
    display: -webkit-box;
    display: flex;
  }
  #section-links {
    list-style-type: none;
    text-align: right;
    padding: 0;
    margin: 0.8em 1em;
    li {
      display: inline-block;
      a {
        padding: 0.25em 0.5em;
        background: #669C41;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        border-radius: 3px;
        &:hover {
          background: darken(#669C41, 5%);
        }
      }
    }
  }
  #social-icons {
    margin: .4em .4em 0 -3em;
    list-style-type: none;
    li {
      display: inline-block;
    }
  }
}
section {
  min-height: 100%;
  position: relative;
  padding: 3em 1em 1em;
  color: #fff;
  &.one {
    background: #583B47;
    h1 {
      font-size: 3em;
      text-align: center;
      margin: 0;
    }
  }
  &.two {
    background: #38D1F1;
  }
  &.three {
    background: #316671;
  }
  &.four {
    background: #A43562;
  }
}

#about-content {
  text-align: center;
  max-width: 740px;
  margin: auto;
  img {
    width: 80%;
    border-radius: 10px;
  }
  p {
    text-align: left;
  }
}

.two-column-container {
  width: 80%;
  max-width: 900px;
  height: 800px;
  margin: 0 auto;
  .left-column {
    float: left;
  }
  .right-column {
    float: right;
  }
  .project {
    position: relative;
    width: 400px;
    height: 300px;
    margin: 20px;
    z-index: 1;
    &:hover .description {
      background-color: rgba(0, 0, 0, .5);
      -webkit-opacity: 1;
      -moz-opacity: 1;
      opacity: 1;
    }
    img {
      width: 400px;
      border-radius: 15px
    }
    h3 {
      margin-top: .2em;
    }
    a {
      text-decoration: none;
      color: #38D1F1;
    }
  }
  .image {
    position: absolute;
  }
  .description {
    position: absolute;
    top: 0;
    left: 0;
    width: 390px;
    height: 290px;
    border-radius: 15px;
    padding: 10px 0 0 10px;
    z-index: 2;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
  }
}
.container {
  width: 85%;
  margin: 0 auto;
}

#resume-education {
  float: left;
}
#resume-skills {
  float:right;
  text-align: right;
}
#resume-experience {
  clear: both;
}
#resume-interests {
  text-align: center;
}

#contact {
  text-align: center;
  img {
    margin: 25px;
    width: 8em;
  }
}
#footer {
  clear:both;
}

@media (max-width: 1246px) {
  .two-column-container {
    width: 95%;
  }
}

@media (max-width: 1055px) {
  .two-column-container {
    height: 1220px;
    .left-column {
      float: none;
    }
    .right-column {
      float: none;
    }
    .project {
      margin: 4px auto;
    }
  }
}

@media (max-width: 784px) {
  #social-icons {
    display: none;
  }
  .container {
    width: 98%;
  }
}
@media (max-width: 640px) {
  #about-content img {
    width: 100%;
    border-radius: 0;
    padding: 0;
    margin: 0;
  }
  section {
    &.one {
      h1 {
        display: none;
      }
    }
    margin: 0;
    padding: 40px 0px;
    p {
      padding: 0 4px;
    }
  }
  .main-navigation {
    position: relative;
    min-height: 40px;
    span {
      margin-top: 5px;
    }
    #section-links {
      margin: 0 4px;
      width: 30px;
      padding: 5px 1px 6px;
      position: absolute;
      left: auto;
      right: 0;
      border: solid 1px #aaa;
      background: #fff url(http://webdesignerwall.com/demo/responsive-menu/images/icon-menu.png) no-repeat 10px 10px;
      border-radius: 5px;
    }
    li {
      display: none; /* hide all <li> items */
      margin: 0;
    }
    a {
      display: none;
    }
    #social-icons {
      display: none;
    }
    #section-links:hover {
      background-image: none;
      width: 180px;
      a {
        display: block;
      }
      li {
        display: block;
        margin: 0 0 5px;
      }
    }
  }
  #contact img {
    margin: 0;
  }
}
@media (max-width: 400px) {
  .two-column-container {
    height: 1220px;
    width: 100%;
    .project {
    width: 100%;
      overflow: hidden;
      img {
        border-radius: 0;
      }
      .description {
        border-radius: 0;
        width: 100%;
      }
    }
  }
  #contact img {
    width: 6em;
  }
}