@import url(http://fonts.googleapis.com/css?family=Actor);
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Actor', sans-serif; }

header {
  position: fixed;
  width: 100%;
  background: #424244;
  z-index: 99; }

.main-navigation #name {
  float: left;
  font-weight: bold;
  font-size: 1.5em;
  color: #fff;
  margin: 0.4em 0.2em; }
.main-navigation #links {
  float: right;
  display: -webkit-box;
  display: flex; }
.main-navigation #section-links {
  list-style-type: none;
  text-align: right;
  padding: 0;
  margin: 0.8em 1em; }
  .main-navigation #section-links li {
    display: inline-block; }
    .main-navigation #section-links li a {
      padding: 0.25em 0.5em;
      background: #669C41;
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      border-radius: 3px; }
      .main-navigation #section-links li a:hover {
        background: #5a8a39; }
.main-navigation #social-icons {
  margin: .4em .4em 0 -3em;
  list-style-type: none; }
  .main-navigation #social-icons li {
    display: inline-block; }

section {
  min-height: 100%;
  position: relative;
  padding: 3em 1em 1em;
  color: #fff; }
  section.one {
    background: #583B47; }
    section.one h1 {
      font-size: 3em;
      text-align: center;
      margin: 0; }
  section.two {
    background: #38D1F1; }
  section.three {
    background: #316671; }
  section.four {
    background: #A43562; }

#about-content {
  text-align: center;
  max-width: 740px;
  margin: auto; }
  #about-content img {
    width: 80%;
    border-radius: 10px; }
  #about-content p {
    text-align: left; }

.two-column-container {
  width: 80%;
  max-width: 900px;
  height: 800px;
  margin: 0 auto; }
  .two-column-container .left-column {
    float: left; }
  .two-column-container .right-column {
    float: right; }
  .two-column-container .project {
    position: relative;
    width: 400px;
    height: 300px;
    margin: 20px;
    z-index: 1; }
    .two-column-container .project:hover .description {
      background-color: rgba(0, 0, 0, 0.5);
      -webkit-opacity: 1;
      -moz-opacity: 1;
      opacity: 1; }
    .two-column-container .project h3 {
      margin-top: .2em; }
    .two-column-container .project a {
      text-decoration: none;
      color: #38D1F1; }
  .two-column-container .image {
    position: absolute; }
    .two-column-container .image img {
      width: 400px;
      border-radius: 15px; }
  .two-column-container .description {
    position: absolute;
    top: 0;
    left: 0;
    width: 390px;
    height: 290px;
    border-radius: 15px;
    padding: 10px 0 0 10px;
    z-index: 2;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }
    .two-column-container .description span {
      position: inherit;
      margin-top: 8px; }

.container {
  width: 85%;
  margin: 0 auto; }

#resume-education {
  float: left; }

#resume-skills {
  float: right;
  text-align: right; }

#resume-experience {
  clear: both; }

#resume-interests {
  text-align: center; }

#contact {
  text-align: center; }
  #contact img {
    margin: 25px;
    width: 8em; }

#footer {
  clear: both; }

@media (max-width: 1246px) {
  .two-column-container {
    width: 95%; } }
@media (max-width: 960px) {
  .two-column-container {
    height: 1220px; }
    .two-column-container .left-column {
      float: none; }
    .two-column-container .right-column {
      float: none; }
    .two-column-container .project {
      margin: 4px auto; } }
@media (max-width: 784px) {
  #social-icons {
    display: none; }

  .container {
    width: 98%; } }
@media (max-width: 640px) {
  #about-content img {
    width: 100%;
    border-radius: 0;
    padding: 0;
    margin: 0; }

  section {
    margin: 0;
    padding: 40px 0px; }
    section.one h1 {
      display: none; }
    section p {
      padding: 0 15px 0 0; }

  .main-navigation {
    position: relative;
    min-height: 40px; }
    .main-navigation span {
      margin-top: 5px; }
    .main-navigation #section-links {
      margin: 0 4px;
      width: 30px;
      padding: 5px 1px 6px;
      position: absolute;
      left: auto;
      right: 0;
      border: solid 1px #aaa;
      background: white url(http://webdesignerwall.com/demo/responsive-menu/images/icon-menu.png) no-repeat 10px 10px;
      border-radius: 5px; }
    .main-navigation li {
      display: none;
      /* hide all <li> items */
      margin: 0; }
    .main-navigation a {
      display: none; }
    .main-navigation #social-icons {
      display: none; }
    .main-navigation #section-links:hover {
      background-image: none;
      width: 180px; }
      .main-navigation #section-links:hover a {
        display: block; }
      .main-navigation #section-links:hover li {
        display: block;
        margin: 0 0 5px; }

  #contact img {
    margin: 0; } }
@media (max-width: 400px) {
  .two-column-container {
    height: 1220px;
    width: 100%; }
    .two-column-container .project {
      width: 100%;
      overflow: hidden; }
      .two-column-container .project .image img {
        width: 100%;
        border-radius: 0; }
      .two-column-container .project .description {
        border-radius: 0;
        width: 100%;
        padding: 10px 5px 0px 10px; }

  #contact img {
    width: 6em; } }
